<!doctype html>
<html lang="en">
    <head>
        <title>User Skills</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link type="text/css" rel="stylesheet" href="/static/stylin.css" />
        <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
    </head>
    <body>
        <div class="primary_content_container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>