{% extends "layout.html" %}

{% block content %}

{#<div class="infobox" id="table_container">#}
<div>
<h2>{{ engineer.engineer_name_first + " " + engineer.engineer_name_last }}'s skills are:</h2>
<h2>{{engineer.engineer}}</h2>
<hr>
{#    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>#}
{#	<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>#}


    {% if skills|length != 0 %}
{#        <div id="slider" width="35px"></div>#}
        <table id="skill_table" class="display">
            <thead>
                <td>Category:</td>
                <td>Sub-Category-1:</td>
                <td>Sub-Category-2:</td>
                <td>Sub-Category-3:</td>
                <td>Skill:</td>
                <td>Skill Level:</td>
                <!--<td class="skillbox"><h5><b>Set Skill Level:</b></h5></td> -->
                <td>Desired Skill Level:</td>
                <!-- <td class="skillstrengthbox"><h5><b>Change Skill Level</b></h5></td> -->
            </thead>
            {% for skill in skills %}
                {% include 'skill.html' %}
            {% endfor %}
        </table>
    {% else %}
        <b>There are currently no skills.</b>
    {% endif %}

    <script>
        $.editable.addInputType('slider', {
            element : function(settings, original) {
                /* Hidden input to store value which is submitted to server. */
                var hidden = $('<input type="hidden">');
                $(this).append(hidden);
                return(hidden);
            },
            submit: function(settings, original){
                value = $('#slider', this).slider('value');
                $('input', this).val(value)
            },
            content: function(string, settings, original){
                var _slider = $('<div id="slider"></div>');
                $(this).append(_slider);
                var min_level = 0;
                if (settings["name"] == "desired_skill_level") {
                    //Set the minimum value for desired skill level
                    curr_skill_level = $(original).closest("tr").find(".skill_level").html();
                    if (Math.floor(curr_skill_level) == curr_skill_level && $.isNumeric(curr_skill_level)) {
                        min_level = parseInt(curr_skill_level, 10);
                    } else{
                        min_level = parseInt($(curr_skill_level).find(".ui-slider-pip-selected-initial .ui-slider-label").attr('data-value'), 10);
                    }
                }
                _slider.slider({ min: min_level, max: 5, value: string});
                _slider.slider("pips", {rest: "label"});
                _slider.slider({
                    change: function(event, ui) {
                        $(this).closest('form').submit();
                    }
                } );
            }
        });
    </script>
    <script type="text/javascript" charset="utf-8">
            $(document).ready( function () {
                $('#skill_table').dataTable().makeEditable({
                        oEditableSettings: { event: 'click' },
                        sUpdateURL: "{{ url_for('update_skill_level') }}",
                        sAddDataType: "json",
                    aoColumns:[null, null, null, null, null, 
                        {type: 'slider', tooltip: 'Click to edit',indicator: 'Saving...', name: 'skill_level'}, 
                        {type: 'slider', tooltip: 'Click to edit',indicator: 'Saving...', name: 'desired_skill_level'}]
                })
            });
		</script>

<hr>
<br>
<a href="{{url_for('index') }}">Back Home</a>
<a href="{{url_for('add_skill', engineer=engineer)}}">Add a Skill</a>
<a href="{{url_for('skill_search')}}">Search for Engineers Capable of a Certain Skill</a>
</div>

{% endblock %}